[Desktop Entry]
Encoding=UTF-8
Name=Link to 搜索 USB转串口 - 江苏沁恒股份有限公司
Type=Link
URL=http://www.wch.cn/search?q=USB%E8%BD%AC%E4%B8%B2%E5%8F%A3&t=downloads
Icon=text-html
